<h2>Contact us if you like: </h2>

<form method="get" action="/email">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="subject" placeholder="subject">
  <textarea name="body" placeholder="body"></textarea>
  <input type="submit">

</form>
