<div class='contactWrapper'>
  <div id='contactTitle'>Contact</div>
  <div id='contactBox'>
    <form action="https://formspree.io/michaelwchungstudio@gmail.com" method="POST" id='contactForm'>
      <div id='nameTitle'>NAME</div>
      <input type="text" name="name" id="nameInput">
      <br>
      <div id='emailTitle'>E-MAIL</div>
      <input type="email" name="email" id="emailInput">
      <br>
      <div id='messageTitle'>MSG</div>
      <textarea name="message" placeholder="Test Message"></textarea>
      <button type="submit">Send Test</button>
    </form>
  </div>
</div>
<footer class='pageFooter'>
  <div id='socialMediaSection'>
    <div class='smIcon' id='facebook'></div>
    <div class='smIcon' id='twitter'></div>
    <div class='smIcon' id='instagram'></div>
    <div class='smIcon' id='pinterest'></div>
    <div class='smIcon' id='youtube'></div>
  </div>
  <div id='copyright'>&copy; The Modern, 1992. All Rights Reserved.</div>
</footer>
