<div class='homeWrapper'>
  <div class='centerIt'>
    <h2 id='bakeryMotto'>Made with love.</h2>
  </div>
  <div id='bakeryInfo'>
    <h3>Brooklyn, NYC</h3>
    <h4>8 AM to 5 PM | Monday - Friday</h4>
    <h4>9 AM to 4 PM | Saturday & Sunday</h4>
  </div>
</div>
