<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- API links here! -->
  </head>
  <body>
    <h1 id='bakeryTitle'>Hot Crossed Buns</h1>
    <!-- Navigation Bar -->
    <nav class='navbar'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About Us</a></li>
        <li><a href='/products'>Menu</a></li>
        <li><a href='/contact'>Contact</a></li>
      </ul>
    </nav>

    <div class='main-container'>
      <%= yield %>
    </div>

  <script type="text/javascript" src='../javascript/javascript.js'></script>
  </body>
</html>
