<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- API links here! -->
  </head>
  <body>
    <div class='pageWrapper'>
      <div class='pageHeader'>
        <h1 id='bakeryTitle'>I C O N</h1>
        <p id='bakerySubtitle'>world famous desserts and pastries</p>
        <!-- Navigation Bar -->
        <nav class='navbar'>
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li id='dropdown'>
              <a>Menu</a>
              <div id='menuDropdown'>
                <a href='/cakes'>Cakes</a>
                <a href='/cookies'>Cookies</a>
                <a href='/muffins'>Muffins</a>
              </div>
            </li>
            <li><a href='/contact'>Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class='main-container'>
        <%= yield %>
      </div>
    </div>
  <script type="text/javascript" src='../javascript/javascript.js'></script>
  </body>
</html>
