<div class='muffinWrapper'>
  <div id='muffinTitle'>Muffins</div>
  <div class='muffinListing'>
    <div class='muffinImage' id='appleSpice'></div>
    <div class='muffinName'>Apple Spice</div>
    <div class='muffinDescription'>Bite-sized and delicious! Made from freshly picked apples, cinnamon, and sugar -- satisfies any muffin lover!</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$1.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='butternutSquash'></div>
    <div class='muffinName'>Butternut Squash</div>
    <div class='muffinDescription'>One of our new favorites with an abundance of coconut, fresh-shelled almonds, and sweet chocolate mini-Kisses, which make this muffin chewy and delicious.</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='cherryChip'></div>
    <div class='muffinName'>Cherry Chip</div>
    <div class='muffinDescription'>Creamy caramel blended with fancy large pecans. So good that you'll think you're eating a pecan pie!</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='chocoChipMuffin'></div>
    <div class='muffinName'>Chocolate Chip</div>
    <div class='muffinDescription'>Devastatingly rich. Imported Dutch cocoa butter blended with gourmet semi-sweet chips to form a chewy and delicious double-fudge muffin.</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.49</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='cornbread'></div>
    <div class='muffinName'>Cornbread</div>
    <div class='muffinDescription'>Soft, sweet, and chewy. This gourmet ginger muffin is made from scratch with unique flavor and unsurpassed quality.</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$1.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='cranberry'></div>
    <div class='muffinName'>Cranberry</div>
    <div class='muffinDescription'>Chopped, crispy, crunch Heath Bar candy hand-blended into our award-winning all-natural ingredient dough.</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='pineappleOrange'></div>
    <div class='muffinName'>Pineapple Orange</div>
    <div class='muffinDescription'>A delightful and refreshing lemon muffin made with 100% real butter, white chocolate, coconut, and natural lemon flavor for a delicious taste.</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='pistachio'></div>
    <div class='muffinName'>Pistachio</div>
    <div class='muffinDescription'>We blend everybody's favorite M&M candies with our award-winning muffin dough to make a favorite for kids of all ages!</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='pumpkinMuffin'></div>
    <div class='muffinName'>Pumpkin</div>
    <div class='muffinDescription'>An old-fashioned favorite. It's a perfect blend of freshly-rolled buttery oats and hand-picked, plump raisins. Chewy and mildly-spiced, this is the best oatmeal raisin muffin in the world.</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
  <div class='muffinListing'>
    <div class='muffinImage' id='pumpkinSpice'></div>
    <div class='muffinName'>Pumpkin Spice</div>
    <div class='muffinDescription'>The purest, fresh-ground peanuts and other natural ingredients create this favorite. It's the ideal blend of creamy peanut butter and chips for a delicious, crispy, crunchy, buttery flavor!</div>
    <div class='muffinFiscalRow'>
      <div class='muffinPrice'>$2.99</div>
      <div class='buyButton'>
        <p class='buyButtonText'>ORDER</p>
      </div>
    </div>
  </div>
</div>
