// Wrapper for cookie page
.cookieWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr repeat(6, 1fr) 0.15fr;
  grid-gap: 2rem;
  grid-row-gap: 6.75rem;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  background-color: $off-white;
}

#cookieTitle {
  font-family: "Bodoni";
  font-size: 3.25em;
  font-weight: 500;
  margin: 5.5rem auto 1rem auto;
  grid-column: 1 / 4;
}

// "Grid" for each cookie
.cookieListing {
  display: grid;
  grid-template-rows: 1fr 0.075fr 0.3fr 0.15fr;
}

.cookieImage{
  height: 335px;
  width: 335px;
  border-radius: 50%;
  background-size: contain;
  margin: 0 auto;
}

// Individual cookie images
#chocoChip {
  background-image: url('../images/cookies/chocchip.jpg');
}

#almondJoy {
  background-image: url('../images/cookies/almondjoy.jpg');
}

#caramelPecan {
  background-image: url('../images/cookies/caramelpecan.jpg');
}

#doubleFudge {
  background-image: url('../images/cookies/dblfudge.jpg');
}

#ginger {
  background-image: url('../images/cookies/ginger.jpg');
}

#heathBar {
  background-image: url('../images/cookies/heathbar.jpg');
}

#lemonCooler {
  background-image: url('../images/cookies/lemoncooler.jpg');
}

#mAndM {
  background-image: url('../images/cookies/mandm.jpg');
}

#oatmealRaisin {
  background-image: url('../images/cookies/oatmealraisin.jpg');
}

#peanutButter {
  background-image: url('../images/cookies/peanutbutter.jpg');
}

#pumpkin {
  background-image: url('../images/cookies/pumpkin.jpg');
}

#snickerdoodle {
  background-image: url('../images/cookies/snickerdoodle.jpg');
}

#sugar {
  background-image: url('../images/cookies/sugar.jpg');
}

#tripChoc {
  background-image: url('../images/cookies/tripchoc.jpg');
}

#turtle {
  background-image: url('../images/cookies/turtle.jpg');
}

#whiteChocCran {
  background-image: url('../images/cookies/whitechoccran.jpg');
}

#whiteRussian {
  background-image: url('../images/cookies/whiterussian.jpg');
}

#royale {
  background-image: url('../images/cookies/royale.jpg');
}

// Cookie information
.cookieName {
  font-family: "Bodoni";
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 1.6rem;
  margin-bottom: 1.25rem;
}

.cookieDescription {
  line-height: 1.45em;
  margin: 0 auto;
  width: 90%;
}

.cookieFiscalRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.cookiePrice {
  font-size: 1.25em;
  display: inline-block;
  font-style: italic;
}

.buyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.45rem 1rem;
  margin-left: 2.5rem;
  background-color: $off-white;
  border: 1px solid;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.buyButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.buyButtonText {
  font-weight: 400;
}
