#bakeryMotto {
  font-size: 15em;
  font-weight: 600;
  font-style: italic;
  color: $pastel-blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

#bakeryInfo {
  text-align: center;
}

#bakeryInfo h3 {
  font-size: 3.25em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#bakeryInfo h4 {
  font-size: 2.5em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
