.homeWrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 0.2fr;
  background-color: rgba(0, 0, 0, 0.5);
}

.centerIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bakeryMotto {
  font-family: "Bodoni";
  font-size: 8em;
  font-weight: 500;
  color: white;
  text-align: center;
}

#bakeryInfo {
  text-align: center;
}

#bakeryInfo h3 {
  font-size: 1.35em;
  font-weight: 300;
  color: $off-white;
  margin-bottom: 0.5rem;
}

#bakeryInfo h4 {
  font-size: 1.1em;
  font-weight: 300;
  color: $off-white;
  margin: 0.35rem 0;
}
